<div>
<nav class="btn-group btn-group-sm">
  <label>maxItem: <input class="" [(ngModel)]="maxItem" type="number"></label>
  <label>shuffle<input type="checkbox" [(ngModel)]="shuffle"></label>
  <button class="btn btn-secondary" (click)="slice(0,0)">empty</button>
  <button class="btn btn-secondary" (click)="reload()">reload</button>
  <button class="btn btn-secondary" (click)="data = 7; reload()">set 7 & Reload</button>
  <button class="btn btn-secondary" (click)="data = 9; reload()">set 9 & Reload</button>
  <button class="btn btn-secondary" (click)="data = 7; slice(0, maxItem)">set 7 & [0-max]</button>
  <button class="btn btn-secondary" (click)="maxItem = 8; slice(0, 8); data = items[7].id">reset</button>
</nav>
<hr>
<label *ngIf="multiple">data: {{data}}</label>
</div>

<nav class="btn-group btn-group-sm mb-2">
  <label *ngIf="!multiple">dataModel: <input [(ngModel)]="data" type="number" [ngModelOptions]="{updateOn: 'blur'}"></label>
  <button class="btn btn-dark" (click)="data = 0">empty value</button>
  <button class="btn btn-dark" (click)="data = items[0].id">set first</button>
  <button class="btn btn-dark" (click)="data = items[items.length - 1].id">set last</button>
</nav>
<nav class="mb-1">
  <span class="d-inline-block mr-2">{{'status:' + status}}</span>
  <span>{{'dirty:' + dirty}}</span>
  <button class="btn btn-sm btn-light" type="button" (click)="dataModel?.control.markAsPristine()">reset</button>
</nav>
<div class="row">
  <div class="col-6">
    <app-select [items]="items" [(ngModel)]="data" bindValue="id" bindLabel="name" [multiple]="multiple" [allowInvalid]="allowInvalid" [loading]="loading" required full #dataModelDir="ngModel"></app-select>
  </div>
</div>

<hr>
<nav class="btn-group btn-group-sm mb-2">
  <!-- <label *ngIf="!multiple">fc: <input [ngModel]="fc.value" (ngModelChange)="fc.setValue($event)" type="number" [ngModelOptions]="{updateOn: 'blur'}"></label> -->
  <span>fc: {{fc.value}}</span>
  <button class="btn btn-dark" (click)="fc.setValue(0)">empty value</button>
  <button class="btn btn-dark" (click)="fc.setValue(items[0].id)">set first</button>
  <button class="btn btn-dark" (click)="fc.setValue(items[items.length - 1].id)">set last</button>
</nav>
<nav class="mb-1">    
  <span class="d-inline-block mr-2">{{'status:' + fcstatus}}</span>
  <span>{{'dirty:' + fcdirty}}</span>
  <button class="btn btn-sm btn-light" type="button" (click)="fc.markAsPristine()">reset</button>
</nav>    
<div class="row">
  <div class="col-6">
    <app-select [items]="items" [formControl]="fc" bindValue="id" bindLabel="name" [multiple]="multiple" [allowInvalid]="allowInvalid" [loading]="loading"></app-select>
    <!-- <form [formGroup]="fg"><app-select [items]="items" [formControlName]="'data1'" bindValue="id" bindLabel="name" [multiple]="multiple" [allowInvalid]="allowInvalid" [loading]="loading"></app-select></form>  -->
    <!-- <form [formGroup]="fg"><app-text [formControlName]="'data1'"></app-text></form> -->
  </div>
</div>
              