<!-- <label *ngIf="!multiple">data: <input [(ngModel)]="data" type="number" [ngModelOptions]="{updateOn: 'blur'}"></label>
<label *ngIf="multiple">data: {{data}}</label>
<label>maxItem: <input [(ngModel)]="maxItem" type="number"></label>
<label>shuffle<input type="checkbox" [(ngModel)]="shuffle"></label>
<button (click)="reload()">Reload</button><br>
<button class="btn btn-secondary" (click)="data = 0">empty value</button>
<button class="btn btn-secondary" (click)="data = items[0].id">set 0</button>
<button class="btn btn-secondary" (click)="data = items[items.length - 1].id">set last</button> -->

<!-- <div>
  <nav>
    <span class="d-inline-block mr-2">{{'status:' + status}}</span>
    <span>{{'pristine:' + pristine}}</span>
    <button type="button" (click)="dataModelDir.control.markAsPristine()">reset</button>
  </nav>
  <hr> 
  <button (click)="reload()">Reload</button><br>
  <app-select #dataModelDir="ngModel" required [loading]="loading" [multiple]="multiple" [allowInvalid]="true" full
    label="data" [items]="items" [(ngModel)]="data" bindValue="id" bindLabel="name"></app-select>
</div>   -->
 
<!-- <div class="form-row">
<div class="col-auto"><label>mode:<input class="form-control" [ngModel]="data1Mode" name="data1Mode" (ngModelChange)="changeMode($event)" type="checkbox"></label></div>
<div class="col-auto"><button class="btn btn-secondary" (click)="data1.setValue({})">reset</button></div>
<div class="col-auto"><button class="btn btn-secondary" (click)="data1.setValue(items[0])">set 0</button></div>
<div class="col-12"></div>
<div class="col-6">
  <field-plain *ngIf="data1Mode"  id="data1" [formControl]="data1" bindLabel="name" full></field-plain>
</div>
</div>
   -->
  
<div class="form-row">
<div class="col-auto"><label>mode:<input class="form-control" [ngModel]="data1Mode" name="data1Mode" (ngModelChange)="changeMode($event)" type="checkbox"></label></div>
<div class="col-auto"><button class="btn btn-secondary" (click)="data = {}">reset</button></div>
<div class="col-auto"><button class="btn btn-secondary" (click)="data = items[0]">set 0</button></div>
<div class="col-12"></div>
<div class="col-6">
  <field-plain *ngIf="data1Mode" id="data" [(ngModel)]="data" bindLabel="name" full></field-plain>
</div>
</div>
 