@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "~@ng-select/ng-select/themes/default.theme.css";

.labeled-field.ng-dirty.ng-invalid {
  .form-control,
  .ng-select-container {
    border: 1px solid rgb(255, 0, 76);
    // outline: 1px solid rgb(255, 0, 76);
  }
}

.error-label {
  color: red;
  font-size: 0.8rem;
}